{% extends 'layout.html' %}
{% block title %}Rozpoznaj obraz{% endblock %}

{% block content %}
<div class="classify-container">
    <h1>Wstaw zdjęcie do klasyfikacji</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" onchange="showImage(event)">
        <img id="show" src="#" alt="Podgląd obrazu">
        <button type="submit">Rozpoznaj</button>
    </form>
    {% if result %}
    <div class="result">
        <h2>{{ result }}</h2>
        <p>{{ confidence }}% pewności</p>
    </div>
    {% endif %}
</div>

<script>
    function showImage(event) {
        const show = document.getElementById('show');
        const file = event.target.files[0];

        if (file) {
            show.src = URL.createObjectURL(file);
            show.style.display = 'block';}
        else {
            show.src = '#';
            show.style.display = 'none';}
    }
</script>

{% endblock %}
