{% extends 'layout.html' %}
{% block title %}Rozpoznaj obraz{% endblock %}

{% block content %}
<div class="classify-container">
    <h1>Wybierz model i wstaw zdjęcia do klasyfikacji</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <select name="model_choice" id="model_choice" required>
            <option value="" selected disabled>Wybierz model</option>
            <option value="resnet">ResNet50V2</option>
            <option value="custom">Model autorski</option>
        </select>

        <input type="file" name="images" accept="image/*" multiple>
        <button type="submit">Rozpoznaj</button>
    </form>

    {% if results %}
    <div class="results">
        {% for res in results %}
        <div class="result">
            {% if res.image_url %}
            <img class="uploaded-image" src="{{ res.image_url }}" alt="Wysłany obraz">
            {% endif %}
            <h2>{{ res.result }}</h2>
            <p>{{ res.confidence }}% pewności</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
